<div class="container">
  <h1>Welcome to Twitter Client !</h1>
  
  <form method='post' action='/tweet'>
    <input type='text' name='tweet'>
    <button id="post_button">Post</button>
  </form><br>

  <form method='post' action='/username'>
    <input type='text' name='username'>
    <button id="fetch_button">Submit</button>
  </form>

<div id="tweets">
</div>
</div>
